/* Start CSS Resets
   reset the browser's default styles ============= */
*,
::after,
::before {
  box-sizing: border-box;
}
ol[class],
ul[class] {
  padding: 0;
}
blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol[class],
p,
ul[class] {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ol[class],
ul[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
button,
input,
select,
textarea {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}

/* End CSS Rests ============= */

/* Main app CSS */

[viewport] {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f7f9fb;
}

[viewport] header {
  width: 100%;
  height: 50px;
  display: flex;
  border-bottom: 1px solid #ccc;
  top: 0;
  z-index: 10;
  position: sticky;
  background: #fff;
}

[viewport] main {
  flex: 1;
}

[viewport] footer {
  width: 100%;
  height: 60px;
  background: #000;
  padding: 0 3.5em;
}

header nav {
  margin-left: auto;
  margin-right: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav a {
  color: #333;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

nav [profile] {
  margin-left: 1em;
  display: flex;
  align-items: center;
}

nav [profile] img {
  display: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 2s ease-in;
  box-shadow: 1px 1px 4px #bdbdbd;
}

nav[authenticated] [profile] span {
  display: none;
}

nav[authenticated] [profile] img {
  opacity: 1;
  display: inline-block;
}

nav[authenticated] [profile]:hover img {
  box-shadow: 2px 2px 4px #bdbdbd;
}

main [hero-image-wrap] {
  background: #e5f4ff;
  min-height: 400px;
}

main [hero-text-wrap] h2 {
  margin: 0 2em;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: xx-large;
}

main [hero-text-wrap] h2 span {
  background: #127aca;
  padding: 0.2em;
  border-radius: 10px;
  color: #f1f1f1;
  font-weight: 300;
}

main [events-wrap] {
  display: flex;
  flex-wrap: wrap;
  margin: 2em auto;
  align-items: center;
  justify-content: center;
}

[events-wrap] [events] > div {
  position: relative;
  box-shadow: 1px 1px 4px #000;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

[testimonial] blockquote {
  background: #127aca;
  color: #fff;
  padding: 2em;
  margin: 1.5em 10px;
  text-align: justify;
  quotes: '\201C''\201D''\2018''\2019';
  font-family: 'Roboto', sans-serif;
}

[testimonial] blockquote::before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

[testimonial] blockquote p {
  text-align: right;
  margin-top: 0.5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

[testimonial] blockquote img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

[promoted-events] [events] > div {
  height: 238px;
  background: #fff;
}

[events-wrap] [events] img {
  top: 0;
  width: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
  opacity: 0.5;
  transition: opacity 1s ease-in;
}

[events-wrap] [events] img.on {
  opacity: 1;
}

[events-wrap] [events] [summary] {
  color: #333;
  background: #fff;
  z-index: 1;
  opacity: 0.9;
  padding: 0.3em;
  text-align: center;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

[events] [summary] h2 {
  margin: 0.5em 0;
}

[events] [summary] a {
  color: #333;
  text-decoration: none;
  font-weight: 300;
}

[events] [summary] [dates] {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

[summary] [dates] p,
[summary] [dates] button {
  display: flex;
  align-items: flex-end;
}

main section.upcoming-events-section {
  background: #e5f4ff;
  border-bottom: 2px solid;
}

[upcoming-events] h2 {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
  margin: 1.5em 0 0;
}

[upcoming-events] [events] > div {
  background: #f1f1f1;
  height: 205px;
}

[upcoming-events] [events] > div:hover {
  background: #fff;
}

main [premium-info] {
  min-height: 300px;
  position: relative;
  border-bottom: 2px dotted #ccc;
}

main [premium-info] aside {
  background: brown;
  padding: 2em;
  color: #f1f1f1;
  font-family: 'Roboto', sans-serif;
}

[premium-info] aside h2,
[premium-info] aside h3,
[premium-info] aside p {
  margin: 1em 0;
}

[premium-info] aside a {
  background: #000;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #f1f1f1;
  margin-top: 1em;
  display: inline-block;
}

[premium-info] aside a:hover {
  color: #fff;
}

main section.more-events-section {
  background: #fff;
}

main section.more-events-section [events-wrap] {
  margin-top: 0;
}

[events-wrap] .badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 50px;
  background: #fff;
  border-bottom-left-radius: 50%;
  border: 1px dashed;
  opacity: 0.75;
  display: grid;
  place-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: x-large;
  color: red;
  z-index: 2;
}

[events-wrap] .ribbon-premium {
  position: absolute;
  left: -5px;
  top: -5px;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
  z-index: 5;
}

[events-wrap] .ribbon-premium span {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79a70a;
  background: linear-gradient(#f70505 0%, #8f0808 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: -21px;
}

[events-wrap] .ribbon-premium span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #8f0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8f0808;
}

[events-wrap] .ribbon-premium span::after {
  content: '';
  position: absolute;
  right: 0;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8f0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8f0808;
}

main dialog {
  padding: 0;
  border: 1px solid;
  font-family: 'Roboto', sans-serif;
}

main dialog section {
  margin: 18px;
}

main dialog::backdrop {
  background: rgba(0, 0, 0, 0.25);
}

main dialog,
main dialog[open]::backdrop {
  opacity: 0;
  transition: opacity 0.5s linear;
}

main dialog[open].in,
main dialog[open].in::backdrop {
  opacity: 1;
}

main dialog [title] {
  border-bottom: 1px solid #ccc;
}

dialog[interactive].event-held [share],
dialog[interactive].event-held [apply-btn],
dialog[interactive].event-held [apply-deadline] {
  display: none;
}

dialog[notice] {
  z-index: 10;
  min-width: 200px;
  border: none;
  background: #000;
  text-align: center;
}

dialog[notice] [title] {
  margin: 0;
  border: none;
  color: #fff;
}

dialog[notice] a {
  color: #f1f1f1;
  font-family: 'Rotobo', sans-serif;
}

dialog[notice] a:hover {
  color: #fff;
  text-decoration: none;
}

dialog menu {
  padding: 0;
  display: flex;
  margin-top: 1.5em;
  align-items: center;
  justify-content: space-between;
}

dialog menu button {
  padding-left: 1em;
  padding-right: 1em;
}

main dialog [title],
main dialog [about] {
  margin-bottom: 1em;
}

main dialog[auth-dialog] {
  max-width: 500px;
  top: calc(100vh / 2 - 120px);
}

main [auth-dialog] label {
  display: block;
}

main [auth-dialog] label + label {
  margin-top: 1em;
}

main [event-details-dialog] {
  will-change: width;
  transition: width 1.5s ease-in;
}

main [event-details-dialog] [title] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.25em;
}

[event-details-dialog] [title] span {
  text-transform: capitalize;
}

[event-details-dialog] [title] aside {
  display: flex;
  justify-content: flex-end;
}

[title] aside [type],
[title] aside [entry] {
  display: inline-block;
  padding: 0 0.5em;
  background: bisque;
  margin-right: 0.3em;
}

[title] aside [entry] {
  background: aqua;
}

[event-details-dialog] p {
  margin-top: 1em;
}

[event-details-dialog] [details] {
  position: relative;
  overflow: hidden;
}

[event-details-dialog] [details] img {
  min-width: 437px;
  max-width: 100%;
  min-height: 330px;
  height: auto;
}

[event-details-dialog] [details] p {
  margin: 0.25em;
  position: absolute;
  bottom: 0;
  padding: 0.5em;
  background: #fff;
  opacity: 0.8;
}

[event-details-dialog] [date],
[event-details-dialog] [apply-deadline] {
  font-weight: bold;
}

[event-details-dialog] [share] {
  display: flex;
  padding: 0 1em;
  min-width: 230px;
  justify-content: space-between;
}

[event-details-dialog] menu {
  justify-content: flex-start;
}

[event-details-dialog] menu button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.1em 1em;
  min-width: 155px;
}

[event-details-dialog] menu button.close {
  padding: 0.1em;
  min-width: auto;
  padding-right: 0.25em;
}

[event-details-dialog] menu button:last-child {
  margin-left: 1em;
  min-width: 180px;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 480px) {
  nav [profile] .material-icons {
    display: none;
  }

  main [hero-image-wrap] {
    margin-bottom: 3em;
  }

  main [hero-image-wrap] img {
    width: 100%;
    height: auto;
  }

  main [hero-text-wrap] h2 {
    margin: 0 0.5em;
  }

  [testimonial] blockquote {
    margin: 0;
  }

  [promoted-events] [events],
  [upcoming-events] [events],
  [more-events-wrap] [events] {
    width: 100%;
  }

  [promoted-events] [events] > div,
  [upcoming-events] [events] > div,
  [more-events-wrap] [events] > div {
    width: 90%;
    margin: 1.5em auto;
  }

  [more-events-wrap] [events] > div {
    width: 161px;
    height: 161px;
  }

  [viewport] footer {
    padding: 0;
  }

  main dialog {
    width: 90%;
  }

  main dialog[notice] {
    width: 100%;
    top: 0;
  }
}

@media only screen and (min-width: 481px) {
  main [hero-image-wrap] {
    margin-bottom: 3em;
  }

  main [hero-image-wrap] img {
    width: 75%;
    height: auto;
    margin: 0 auto;
  }

  [testimonial] blockquote {
    max-width: 400px;
  }

  [promoted-events] [events],
  [upcoming-events] [events],
  [more-events-wrap] [events] {
    width: 100%;
  }

  [promoted-events] [events] > div,
  [upcoming-events] [events] > div,
  [more-events-wrap] [events] > div {
    width: 80%;
    max-width: 400px;
    margin: 1.5em auto;
  }

  [more-events-wrap] [events] {
    display: flex;
    flex-wrap: wrap;
    margin: 0.2em 1em;
    align-items: center;
    justify-content: center;
  }

  [more-events-wrap] [events] > div {
    width: 235px;
    height: 115px;
  }

  main dialog {
    width: 90%;
  }

  main dialog[notice] {
    top: 0;
    width: 100%;
    height: 50px;
  }
}

@media only screen and (min-width: 769px) {
  main [hero-display] {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1040px;
    margin: 3em auto;
  }

  main [hero-image-wrap] {
    width: 400px;
    height: 400px;
    background: #e5f4ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 0;
  }

  main [hero-image-wrap] img {
    width: 65%;
    height: 65%;
    object-fit: contain;
  }

  main [hero-text-wrap] {
    flex: 1;
  }

  main [events-wrap] {
    max-width: 1040px;
  }

  main [promoted-events] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  [promoted-events] [testimonial] {
    flex: 1;
  }

  [promoted-events] [events] {
    flex: 1;
  }

  [upcoming-events] [events] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  [upcoming-events] [events] > div {
    max-width: 325px;
  }

  main [upcoming-events] h2 {
    width: 100%;
    margin-left: 2em;
  }
}

@media only screen and (min-width: 930px) {
  main [promoted-events] {
    align-items: flex-start;
  }

  [events-wrap] [events] > div {
    margin: 1.5em 1em;
  }

  [promoted-events] [events] {
    flex: 2;
    display: flex;
  }

  [upcoming-events] [events] > div {
    margin: 1.5em 0.5em;
  }

  main [upcoming-events] h2 {
    margin-left: 0.5em;
  }

  main [premium-info] {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 550px;
    background-attachment: fixed;
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
    background-color: #fff;
    background-image: url(../images/vanhack-premium.webp);
  }

  main [premium-info] aside {
    width: 50%;
    max-width: 575px;
    height: 350px;
    margin-right: 3em;
  }

  main dialog {
    position: fixed;
  }

  main [event-details-dialog] {
    top: 0;
    right: -60%;
    bottom: 0;
    height: 100vh;
    width: 40%;
    border: none;
    border-left: 5px solid #127aca;
  }

  main dialog[notice] {
    top: 75px;
    left: -35.6em;
    height: auto;
    width: 450px;
    max-width: 550px;
    padding: 0.5em 1em;
  }
}
